body{
    font-family: Arial, sans-serif;
    background-color: #E5E4E2;
}

h1{
    text-align: center;
    color: darkblue;
}

p{
    text-align: center;
    color: blue;
}
.good{
    color: green;
}

.wrong{
    color: red;
}

fieldset{
    background-color: lightblue ;
}